/* VARIABLES */ 

// COLORS
$color-primary: #fff;
$warm-blue: #5267DF;
$text-color: #242A45;
$bean-red: #FA5959;
$desc-color: #9194A2;
$button-color: #F7F7F7;

// FONTS
$font-stack: "Rubik", "Arial", sans-serif;