// HERO STYLE STARTS
.hero-section{
    padding-top: 137px;
    padding-bottom: 203px;
    background-image: url(../../images/hero_bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 600px);
    
    
    &__title{
        margin-top: 0;
        margin-bottom: 24px;
        width: 100%;
        max-width: 540px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.15px;
        color: $text-color;
    }
    
    &__desc{
        margin-top: 0;
        margin-bottom: 32px;
        width: 100%;
        max-width: 540px;
        font-size: 18px;
        line-height: 28px;
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    
    &__link1{
        margin-right: 40px;
        padding: 10px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        background: $warm-blue;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
        border: 2px solid $warm-blue;
    }
    
    &__link1:hover{
        color: $warm-blue;
        background: $color-primary;
        border: 2px solid $warm-blue;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;     
    }
    
    &__link2{
        padding: 10px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.75; 
        background: $button-color;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
        border: 2px solid $button-color;
    }
    
    &__link2:hover{
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.75;
        background: $color-primary;
        border: 2px solid #5B6074;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
    }
    
    
    
    
    
    
}

// *** RESPONSIVE STARTS
@media only screen and (max-width: 660px) {
    .hero-section{
        padding-top: 87px;
        background-position: calc(50% + 270px) 10px;
        background-repeat: no-repeat;
            
        &__title{
            padding-top: 480px;
            margin-bottom: 16px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: 311px;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.09375px;
            color: $text-color;
        }
        
        &__desc{
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 32px;
            width: 100%;
            max-width: 311px;
            margin-top: 0;
            font-size: 15px;
            line-height: 25px;
            color: $text-color;
            mix-blend-mode: normal;
            opacity: 0.5;
            text-align: center;
        }

        &__link1{
            margin-left: 130px;
            padding-top: 10px 17px;
            margin-right: 17px;
        }

        &__link2{
            padding-top: 10px 17px;
        }
        
        
        
        
        
        
    }
    
}

// *** RESPONSIVE ENDS






// HERO STYLE ENDS