// HERO STYLE STARTS
.hero-section{
    padding-top: 137px;
    padding-bottom: 203px;

    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__wrapper--start{
        width: 100%;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 24px;
        width: 100%;
        max-width: 540px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.15px;
        color: $text-color;
    }
    
    &__desc{
        margin-top: 0;
        margin-bottom: 32px;
        width: 100%;
        max-width: 540px;
        font-size: 18px;
        line-height: 28px;
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    
    &__link1{
        margin-right: 40px;
        padding: 10px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        background: $warm-blue;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
        border: 2px solid $warm-blue;
    }
    
    &__link1:hover{
        color: $warm-blue;
        background: $color-primary;
        border: 2px solid $warm-blue;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;     
    }
    
    &__link2{
        padding: 10px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.75; 
        background: $button-color;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
        border: 2px solid $button-color;
    }
    
    &__link2:hover{
        color: $text-color;
        mix-blend-mode: normal;
        opacity: 0.75;
        background: $color-primary;
        border: 2px solid #5B6074;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
    }

    &__wrapper--end{
        position: relative;
        width: 100%;
    }

    &__bg-img{
        position: absolute;
        top: -225px;
        right: calc(50% - 445px);
        max-width: 1200px;
    }
    

}

// RESPONSIVE STARTS


// RESPONSIVE ENDS







// HERO STYLE ENDS